# Ignore every direct child of local/ (dirs & files, recursively for dirs)
*
!.gitignore
# Allow Git to descend into local/xyz/
!windows-neovim/
!windows-powershell/
!windows-terminal/
# Re-ignore everything inside local/windows/
windows-neovim/**
windows-powershell/**
windows-terminal/**
# Re-include only this one file
!windows-neovim/.gitkeep
!windows-powershell/.gitkeep
!windows-terminal/.gitkeep
